<div class="container">
  <div class="row">
    <h1>Routine: <%= @routine.name %></h1>

    <% user = (current_user.id == @routine.user_id) ? "you" : @routine.user.username %>
    <h2>added by <i><%= user %></i></h2>

    <% if current_user.id == @routine.user_id %>
      <p><a href= "/routines/<%= @routine.id %>/edit"> Edit This Routine </a></p>

      <form method="POST" action="/routines/<%= @routine.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input id="delete_button" onclick="return confirm('Are you sure you want to delete this routine?');" type="submit" name="Delete Routine" value="Delete Routine">
      </form>

    <% end %>
  </div><!-- end row-->

  <div class="row">
    <div class="four columns">
      <h3>Products Used:</h3>

      <% @routine.products.each do |product| %>
        <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
      <% end %>
    </div>

    <div class="eight columns">
      <h3>Description: </h3>
      <p><%= @routine.description %></p>

      <% if flash[:message] %>
        <p><%= flash[:message] %></p>
      <% end %>
    </div>
  </div><!-- end row -->

  <br><br>

  <div class="row">
    <form method="post" action="/comments">
      <input type="hidden" name="comment[routine_id]" value="<%= @routine.id %>">
      <label for="content">Leave a comment</label><br></br>
      <input type="text" name="comment[content]"><br></br>
      <input type="submit" id="submit" value="Submit">
    </form>

    <h2>Comments</h2>

    <% @routine.comments.reverse.each do |comment| %>
      <li><%= comment.content %></li>

      <% if current_user.id == comment.user_id %>
        <p><a href= "/comments/<%= comment.id %>/edit"> Edit Comment </a></p>

        <form method="POST" action="/comments/<%= comment.id %>/delete">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input id="delete_button" onclick="return confirm('Are you sure you want to delete this comment?');" type="submit" name="Delete Comment" value="Delete Comment">
        </form>
      <% end %>

    <% end %>
  </div><!--end row -->
</div><!-- close container-->
