<div class="container">

  <br><br>

  <h1>Welcome, <%= @user.username %>!</h1><br>

  <div class="row">
    <h3>Recently Added Routines From the Community</h3>
    <% if !@routines.empty? %>
      <% @routines.reverse.take(5).each do |routine| %>
        <% user = (current_user.id == routine.user_id) ? "you" : routine.user.username %>
        <ul><a href="/routines/<%= routine.id %>"><%= routine.name %></a>
          <li>Added by <a href="/users/<%= routine.user.slug %>"><%= user %></a></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <br><br>

  <div class="row">
    <div class="eight columns">
      <h3>Recently Added Products</h3>
      <% if !@products.empty? %>
        <ul>
          <% @products.reverse.take(10).each do |product| %>
            <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="four columns">
      <h3>Explore New Users!</h3>
      <% if !@users.empty? %>
        <ul>
          <% @users.reverse.take(10).each do |user| %>
            <li><a href="/users/<%= user.slug %>"><%= user.username %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div><!-- end of row -->

</div><!-- main div -->
