<h1><%= @user.username %></h1>
<h3> <%= @user.username %>'s routines </h3>

<% if @user_routines.empty? %>
  <p> <%= @user.username %> has not added any routines yet!<p>
<% else %>
  <% @user_routines.reverse.each do |routine| %>
    <ul><a href='/routines/<%= routine.id %>'><%= routine.name %></a>
        <% routine.products.each do |product| %>
          <li><%= product.name %></li>
        <% end %>
    </ul>
  <% end %>
<% end %>
