<h2> <%= @product.name %> </h2>
<li> Category: <%= @product.category %> </li>
<li> Ingredients: <%= @product.ingredients %> </li>
<li> Notes: <%= @product.notes %> </li>

<!-- <form method="POST" action="/products/<%=@product.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input id="delete_button" type="submit" name="Delete Product" value="Delete Product"></input> -->

<!--links for home, logout, routines, create a new routine -->
